<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Chat App</title>
	<link rel="stylesheet" href="../css/style.css">
   <script src="https://js.pusher.com/7.0/pusher.min.js"></script>

	<style = "text/css">
      
.bg-danger {padding: 10px;}
</style>
<script type="text/javascript">
    Pusher.logToConsole = true;
	 let pusher = new Pusher('e8993f2a5d6328795dcf', {
      cluster: 'eu'
    });

    let channel = pusher.subscribe('my-channel');
	channel.bind('my-event', function(data) {
	      const divElement = document.createElement('div');
          divElement.classList.add('msgdisplay-main');
          divElement.innerHTML = `<p>${data.message}</p>
                                  <p>${data.sendTime}</p>`
          document.getElementById('messages_display').appendChild(divElement);
		// Scroll to the bottom of the container when a new message becomes available
          document.getElementById('messages_display').scrollTo({
                 top: document.getElementById('messages_display').scrollHeight,
                 behavior: "smooth",
            });
	});
	
</script>
  </head>
  <body>
	<div class="container center">
	  <div class="main-content">
	   <h3 style="color: #82b541;">Welcome,</h3>
       <div class = "col-md-6 chat_box">                      
        <div id="messages_display"></div>        
        <br />                     
        <div class = "inputs-container">             
                      
            <input type = "text" class = "form-control" id="input_name" placeholder = "Name:" />         
        </div>                     
        <div class = "inputs-container">             
                        
            <input type="text" class = "form-control" id="input_message" placeholder = "Message:" /> 
            <button class="btn  input_send" onClick="sendMsg('http://localhost:4000/updateChat')">SEND
			  <h1 class="little-arrow">&#8711;</h1>
			</button>		
             			
        </div>                     
                     
    </div> 
    </div>
    </div>
<script type="text/javascript">

  async function sendMsg(url) {
   
   const message = document.getElementById('input_message').value;
   const name = document.getElementById('input_name').value;
	if (name === '') {
        alert('Please enter a Name');
        return false;
    } 
	if (message !== '') {
	  const data = {
	   name: name,
	   message: '<strong>' + name + '</strong>: ' + message,
	}
		try{
		const response = await fetch(url, {
		method: 'POST',
		headers: {
		  'Content-Type': 'application/json',
		},

		body: JSON.stringify(data)
		});
		const result = await response.json();
		if(result != "") {
		console.log(result);
		}
		}catch(e){
		 console.error("Error adding document: ", e);
		}
	 }
	 document.getElementById('input_message').value = '';
  }
  
   </script>
  </body>
</html>
